* {
    box-sizing: border-box;
}

.battle {
    display: flex;
    flex-direction: row;
} 

button {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 5px solid salmon;
    margin: 8px;
}
.fighter1,
.fighter2 {
    width: 150px;
    height: 150px;
    border: 5px dotted green;
    /* background: none !important; */
}
.fighter2 {
    border-color: violet;
}

.attackBar {
    margin: 0 20%;
}

.battleground {
    display: flex;
}

.playerInterface,
.computerInterface {
    text-align: center;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundResult, 
h1,
h2 {
    text-align: center;
}

.output {
    border: 2px solid gray;
    margin: 2% 30%;
    padding: 2%;
}
/* main {
    display: none;
} */

.rock,
.npc_rock {
    background-image: url('../images/rock.jpg');
    background-size: 150%;
    background-position: center;
}

.paper,
.npc_paper {
    background-image: url('../images/paper.jpg');
    background-size: 300%;
    background-position: 0 0;
}

.scissor,
.npc_scissor {
    background-image: url('../images/scissor.jpg');
    background-size: 175%;
    background-position: 30%;
}